.location-view {
    .selector {
        margin: 20px;

        .left {
            float: right;
        }
        .right {
            float: left;
        }
        .location {
            text-align: center;
        }
    }

    .occupants {
        text-align: center;
        .house {
            text-align: right;
        }
        .domain {
            text-align: left;
        }
    }

    .actions {
        text-align: center;
    }
}
